label {
    width:125px;
    clear:left;
    padding-right:10px;
}

input, label {
    float:left;
}

.p1 {
    border-style:solid;
    clear:left;
    width:140px;
}

.p2 {
    border-style:solid;
    clear:left;
    width:350px;
}

form {
    width:480px;
}

.lbl1 {
    width:145px;
}

.hl{
    border-bottom: 1px solid black;
}

.totalAmount {
    display: block;
    font-weight:bold;
    padding:10px;
    border-style:solid;
    text-align-last: center;
    font-size: 30px;
}

canvas {
    border: 1px solid black;
    background-color: lightblue;
    position: absolute;
    width: 480px;
    height: 330px;
    top: 30px;
    z-index: -1;
}


form {
    position: absolute;
    z-index: 0;
}